.testimonials-container {
    width: 68%; /* Контейнер займає 70% ширини */
    margin: 0 auto; /* Центрування */
    padding: 20px;
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .testimonial {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 10px; /* Відступ між слайдами */
    box-sizing: border-box; /* Гарантує правильну ширину */
    height: 200px; /* Фіксована висота для всіх карток */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Запобігає переповненню текстом */
  }
  
  .testimonial-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: #555;
  }
  
  .instagram-logo {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .testimonial-review {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    overflow-y: auto; /* Додаємо скролл, якщо текст перевищує висоту */
    max-height: 150px; /* Обмежуємо максимальну висоту відгуку */
  }
  
  .slick-slide {
    padding: 0px; /* Відступи між елементами слайдера */
  }
  
  .slick-dots li button:before {
    font-size: 10px; /* Розмір крапок */
    color: #bbb; /* Колір неактивних крапок */
  }
  
  .slick-dots li.slick-active button:before {
    color: #333; /* Колір активної крапки */
  }